.portfolio__skills__main {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: val(--color-bg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    align-items: center;
    justify-content: center;
}

.portfolio__skills__main__wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

.portfolio__skills__known__heading{
    display: none;
}

.tech__skills__div__each{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;   
}

.tech__skills__div__each h2 {
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
}

.technology__skills__imgs{
    width: 35px;
    height: 35px;
}

.tech__skill__No-SQL{
    width: calc(67/1.4)px;
    height: calc(35/1.4)px;
}

.tech__skills__div__each__spans{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #41344D;
}

.tech__skills__div__each__spans img{
    margin: 0 30px;
    
}

.tech__skills__div__each__spans :nth-child(2) {
    margin-right: 20px ;
}

@media screen and (max-width:1080px) {
    .tech__skills__div__each {
        margin: 5px;
        display: flex;
    }
    .tech__skills__div__each__spans {
        width: 70%;
        height: 7vh;
    }
    .tech__skills__div__each h2 {
        font-size: 15px;
        font-weight: 400;
    }
    .portfolio__skills__main__wrapper{
        display: flex;
        align-items: flex-end;
        /* justify-content: center; */
    }
    .technology__skills__imgs {
        width: 25px;
        height: 25px;
    }
    .tech__skills__div__each__spans img {
        margin: 0 10px;
    }
}

@media screen and (max-width:680px) {
    .tech__skills__div__each {
        width: 350px;
    }
}

@media screen and (max-width:680px) {
    .portfolio__skills__main {
        height: auto !important;
        margin: 5rem 0;
    }
    .portfolio__skills__main__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
    }
    .portfolio__skills__wrapper__left__container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .portfolio__skills__known__heading{
        margin: 3rem 0;
        display: flex;
        color: white;
        font: 30px "Poppins";
        text-transform: uppercase;
    }
}