.portfolio__contact__main {
    height: 100vh;
    width: 100%;
    background-color: #1C092C;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.portfolio__contact__main__form__container{
    width: 100%;
}

.portfolio__contact__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.portfolio__contact__main__topPart{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.portfolio__contact__main__topPart__contact p{
    font-family: 'Poppins';
    font-size: 30px;
    padding: 20px;
    font-weight: 600;
}

.portfolio__contact__main__topPart__say p{
    font-family: 'Poppins';
}

.portfolio__contact__main__topPart{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.portfolio__contact__form__main{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
}

.portfolio__contact__form__main__container{
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
}


.portfolio__contact__form__name input[type ="text"],
.portfolio__contact__form__email input[type="email"]{
    width: 305px;
    height: 57px;
    background: #41344D;
    border-radius: 15px;
    border: 1px solid #41344D;
}

.portfolio__contact__form__message input[type="text"] {
    width: 405px;
    height: 107px;
    background: #41344D;
    border-radius: 15px;
    border: 1px solid #41344D;
}

.portfolio__contact__form__name,
.portfolio__contact__form__email,
.portfolio__contact__form__message{
    display: flex;
    flex-direction: column;
}

.portfolio__contact__form__sec__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__contact__form__sec__container label ,
.portfolio__contact__form__main__container label{
    color: white;
    padding: 20px;
    font-family: 'Poppins';
}
.contact__email__sent{
    background-color: green !important;
}

.portfolio__contact__form__submit__btn{
    margin-top: 80px;
    margin-bottom: 30px;

    width: 9rem;
    height: 2.5rem;
    border-radius: 15px;
    background-color: var(--color-btn);
    overflow: none;
    border: 1px solid var(--border-btn);
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 500;
}

.portfolio__contact__form__name,
.portfolio__contact__form__email,
.portfolio__contact__form__message {
    position: relative;
    margin-bottom: 15px
}

.portfolio__contact__form__name input,
.portfolio__contact__form__email input,
.portfolio__contact__form__message input {
    display: block;
    width: 400px;
    height: 40px;
    background: transparent;
    border: solid 1px #ccc;
    transition: all .3s ease;
    padding: 0 15px;
    color: white;
    font-family: 'Poppins';
}

.portfolio__contact__form__name input:focus,
.portfolio__contact__form__email input:focus ,
.portfolio__contact__form__message input:focus {
    border-color: var(--color-btn);
    outline: none;
}

.portfolio__contact__form__name label,
.portfolio__contact__form__email label,
.portfolio__contact__form__message label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
    background: transparent;
    color: var(--color-btn);
    transition: all .3s ease;
    font-family: 'Poppins' ;
}

.portfolio__contact__form__name input:focus+label,
.portfolio__contact__form__email input:focus+label,
.portfolio__contact__form__message input:focus+label,
.portfolio__contact__form__name input:valid+label,
.portfolio__contact__form__email input:valid+label,
.portfolio__contact__form__message input:valid+label{
    font-size: 11px;
    top: 1px
}


.portfolio__contact__form__name input:focus+label,
.portfolio__contact__form__email input:focus+label,
.portfolio__contact__form__message input:focus+label{
    color: var(--color-btn);
}

@media screen and (max-width:450px) {
    .portfolio__contact__form__main__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 20vh;
    }
    .portfolio__contact__main__topPart__say{
        width: 80%;
    }
    .portfolio__contact__form__message input,
    .portfolio__contact__form__main__container input {  
        width: 300px !important;
    }

    .portfolio__contact__form__sec__container{
        position: relative;
    }
    .portfolio__contact__form__main__container{
        position: relative;
    }
    .portfolio__contact__form__name{
        position: absolute;  
        top: -50px;
    }
    .portfolio__contact__form__email {
        position: absolute;  
        top: 60px; 
    }
    .portfolio__contact__form__message {
        position: absolute;
        top: -90px;
    }
}