.portfolio__header__main {
  min-height: 800px;
  background-color: #10041a;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

#header::before {
  transform-origin: 50% 50%;
  background: #f06292;
}

.portfolio__header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio__header__wrapper-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 800px;
}

.portfolio__header__wrapper-right {
  width: 50%;
}

.portfolio__header__wrapper-right-part {
  height: 840px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: center;
}

.portfolio__header__myImg {
  width: 23vw;
}

.portfolio__header__main-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-yellow);
}

.portfolio__header__main-description {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: var(--color-white);
}
.portfolio__header__main-slogan {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  padding: 50px 0 30px 0;
  background: linear-gradient(270deg, #f6d69a 8.33%, #c985ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.portfolio__header__input {
  color: var(--color-input);
}

.portfolio__header__email__form {
  display: flex;
  flex-direction: row;
  /* align-items: center;     */
  justify-content: flex-start;
  height: 50px;
  color: white;
  margin-bottom: 15px;
}

.portfolio__header__form__email input {
  display: block;
  height: 50px;
  border-radius: 10px 0px 0px 10px;
  width: 20rem;
  outline: none;
  border: none;
  background-color: var(--color-input);
  color: white;
  padding-left: 20px;
  bottom: 0px;
  right: 0px;
}

.portfolio__header__form__email input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-left: 20px;
  color: var(--color-purple);
}

.portfolio__header__email__form button {
  width: 9rem;
  height: 50px;
  border-radius: 0px 10px 10px 0px;
  background-color: var(--color-purple);
  overflow: none;
  border: none;
  font-family: "Poppins";
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--color-bg);
  /* margin-left: 30px; */
}

.portfolio__header__email__sent {
  background-color: green !important;
}

@media screen and (max-width: 1080px) {
  .portfolio__header__main-slogan {
    font-size: 30px;
  }
  .portfolio__header__email__form {
    justify-content: flex-start;
  }
  .portfolio__header__email__form input {
    width: 250px;
  }
}

@media screen and (max-width: 880px) {
  .portfolio__header__email__form input {
    width: 200px;
  }
  .portfolio__header__myImg {
    width: 33vw;
  }
}

@media screen and (max-width: 680px) {
  .portfolio__header__email__form input {
    width: 180px;
  }
}

@media screen and (max-width: 580px) {
  .portfolio__header__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10rem;
  }

  .portfolio__header__myImg {
    width: 63vw;
  }

  .portfolio__header__wrapper-left,
  .portfolio__header__wrapper-right {
    width: 80%;
    height: auto;
  }
  .portfolio__header__wrapper-left-part,
  .portfolio__header__wrapper-right-part {
    height: auto;
    align-items: flex-start;
  }
  .portfolio__header__wrapper-right-part {
    margin-top: 4rem;
  }
  .portfolio__header__email__form {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .portfolio__header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .portfolio__header__wrapper-left {
    height: 300px;
  }

  .portfolio__header__wrapper-right-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    height: auto;
  }
  .portfolio__header__main-slogan {
    font-size: 25px;
  }
}
