.portfolio__main__div{
    width: calc(100% - 15.2rem);
    margin-left: 15rem;
    scroll-snap-align: start;

}

.portfolio__main__container__index{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-snap-stop: normal;
}

@media screen and (max-width: 1080px){
    .portfolio__main__div {
        width: calc(100% - 10.2rem);
        margin-left: 10.2rem;
    }
}

@media screen and (max-width: 780px){
    .portfolio__main__div {
        width: 100%;
        margin-left: 0;
    }
}
