@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  overflow: auto;
}

body {
  height: auto;
  overflow: auto;
}
body {
  background-color: #10041a;
}
html {
  overflow-y: scroll;
}
a {
  all: unset;
}

:root {
  --font-family: "Poppins", sans-serif;

  --gradient-text1: -webkit-linear-gradient(
    89.97deg,
    #ae67fa 1.84%,
    #f49867 102.67%
  );
  --gradient-text2: -webkit-linear-gradient(
    89.97deg,
    #0992df 100%,
    #a550b2 100%
  );
  --gradient-bar: -webkit-linear-gradient(
    103.22deg,
    #ae67fa -13.86%,
    #f49867 99.55%
  );

  --color-bg: #10041a;
  --color-footer: #1c092c;
  --color-purple: #c985ff;
  --color-yellow: #f6d799;
  --color-input: #41344d;
  --color-blue: #2189d9;
  --color-white: #f8f2fd;
}

p {
  color: white;
}
